.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Xcode
*.xcworkspace
*.xcodeproj
*.playground
*.playgroundSources

# Swift Package Manager
Package.resolved
.swiftpm

# IDEs
.idea/
.vscode/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# CocoaPods
Pods/
*.podspec

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Tests
*.xctestplan

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
